@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

button {
    padding: 10px 25px;
    border: none;
    transition: 0.2s ease-in-out;
}

button:hover {
    opacity: 0.9;
    transition: 0.2s ease-in-out;
}

/* navigation */
nav {
    box-shadow: 3px 3px 5px grey;
    position: sticky;
    top: 0;
    background: white;
    padding: 10px;
    z-index: 50;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bar_icon {
    font-size: 22px;
}

/* hero section */
.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag {
    background-color: #149f39;
    color: white;
    padding: 5px 10px;
    align-self: flex-start;
}

.hero_content h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 300;
}

.hero_content img {
    width: 72px;
}

.explore_btn {
    background: #ffc066;
    align-self: flex-start;
}

@media (max-width: 800px) {
    .hero {
        flex-direction: column;
        gap: 20px;
    }

    .hero_image {
        display: flex;
        justify-content: center;

    }

    .hero_image img {
        width: 80%;
    }

    .hero_content h1 {
        font-size: 32px;
    }

    .hero_content {
        padding: 10px;
    }

    .features {
        flex-direction: column;
    }

    .feature {
        flex-direction: column;
    }

    .grid {
        padding: 7px;
    }

    .grid_images {
        border-radius: 0px;
    }

    .footer_container {
        flex-direction: column;
    }

}

.features {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

}

.feature {
    display: flex;
    gap: 15px;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow: 3px 3px 3px grey;
}

.feature img {
    width: 72px;
}

hr {
    margin: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag {
    align-self: center;
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "I1 I1 I2 I3"
        "I1 I1 I2 I7"
        "I4 I5 I6 I7";
}

.item1 {
    grid-area: I1;
}

.item2 {
    grid-area: I2;
}

.item3 {
    grid-area: I3;
}

.item4 {
    grid-area: I4;
}

.item5 {
    grid-area: I5;
}

.item6 {
    grid-area: I6;
}

.item7 {
    grid-area: I7;
}

.grid_images {
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

.grid_images:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in-out;
}

footer {
    background-color: #f5d8af;
}

.footer_container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.link_list h3 {
    margin: 20px;
    color: grey;
}

.link_list ul {
    list-style: none;
}

.link_list ul li {
    font-size: 16px;
    margin-bottom: 5px;
}

.news_letter h3 {
    margin: 20px;
    color: grey;
}

.news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
}

.icon_container {
    display: flex;
    gap: 10px;
    font-size: 28px;
}